/* ===============================
   Layout
================================ */

.intro_container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

/* ===============================
   Profile Image
================================ */

.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #7c7a7a;
  outline: 3px solid #ff6b6b83;
  outline-offset: 1px;
  padding: 2px;
  flex-shrink: 0;
}




.profile_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.3);
  object-position: center 0.7rem;
  /* object-position: center top; */
}

/* ===============================
   Text Wrapper
================================ */

.intro_text {
  display: flex;
  /* min-width: 100%; */
  flex-direction: column;
  justify-content: start;
  gap: 0.6rem;
}

/* ===============================
   Headline
================================ */

.intro_text_main {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.intro_hi {
  font-family: Inter, sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
}


.intro_name_container{
  /* display: flex; */
  position: relative;
  width: 30ch;
  height: 100%;
  height: 2.6rem;
  /* overflow: hidden; */
}

.intro_name {

  font-size: 2.3rem;
  font-weight: 900;
  /* line-height: 1; */
  letter-spacing: -0.02em;
  transition: font-family 0.12s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: baseline;
  width: 100%;
}



/* ===============================
   Sub Text
================================ */

.snap_effect {
  font-size: 1.1rem;
  opacity: 0.85;
  display: flex;
}

.snap_effect div{
    padding: 0.6rem 0.8rem;
     border: 1px solid #fff;
}

.snap_effect span {
   
  font-weight: 600;
}

/* ===============================
   Resets / Globals (optional)
================================ */

h1 {
  margin: 0;
}


@media (max-width : 900px){
  .intro_text_main{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .intro_text_main span{
    line-height: 1;
  }

  .intro_container{
    align-items: start;
  }

  .intro_text{
    gap: 1.5rem;
  }
}