.marquee_container{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg);
}

.logo_collection{
    display: flex;
    gap: 5rem;
    margin: 0 2.5rem;
}



.marquee_title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 0.5rem;
    position: relative;
}


.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: contain;
}

.logo span{
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}

