
.proof_of_work_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}


.proof_of_work_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 2px solid grey;
    border-radius: 30px;
    width: 40%;
    overflow: hidden;
}


.project_img > img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;
}

.project_title{
    font-size: 0.9rem;
    font-weight: 700;
    text-align: start;
}

.tech_stack_used{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: flex-start;
}

.tech_stack_item{
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    font-weight: 600;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.829);
}

.project_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.7rem;
    padding-bottom: 2rem;
}


.project_desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: grey;
    text-align: start;
}


.project_btns{
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.project_btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

.project_btns span{
    transition: all 0.3s ease;
}

.project_btns a:hover > span{
    color: rgb(131, 131, 235);
}


.proof_of_work_text_section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.pow_title{
    text-transform: uppercase;
    color: black;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
    font-weight: 700;

}

.pow_sub_title{
    font-size: 1.5rem;
    font-weight: 800;
}


.project {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}



.project{
    transition: transform 0.3s ease, box-shadow 0,3s ease;

}

.project:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.203);
}


@media (max-width : 1100px){
    .project_btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}



@media (max-width : 900px){
    .proof_of_work_projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 100%;
    }

    .project_btns{
        display: flex;
        flex-direction: row;
        /* gap: 1rem; */
    }
}


@media (max-width : 300px){
    .project_btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}