@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.body_container{
    width: 60%;
}


@media (max-width : 900px){
    .body_container{
        width: 80%;
    }
}

@media (max-width : 400px ) {
    
    .body_container{
        width: 98%;
    }
}