*{

  font-family: Inter, sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  --bg : #0a0a0a;
  --text : #fff;
  --text-grey : #a1a1aa;
}


body {
  min-height: 100vh;
  
  background-color: var(--bg);
  color: var(--color-text);
  line-height: 1.5;
}



#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

a{
  text-decoration: none;
}