*{

  font-family: Inter, sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  --bg : #0a0a0a;
  --text : #fff;
  --text-grey : #a1a1aa;
}


body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
  color: var(--color-text);
  line-height: 1.5;
}


#root {
  min-height: 100vh;
  width: 100%;
  display: block;
  padding: 2rem 0;
}

a{
  text-decoration: none;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  line-height: 1.5;
}

#root {
  width: 100%;
  min-height: 100vh;
}
